  /* Login/Sign-Up Styling - Alex Groom 
  * Temporary colors and fonts - they can change once we decide on a design style and colour palette
  */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .team-joy-form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 200px;
    text-align: center;
  }
  
  
  .basic-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: lightgray;
    color: black;
  }
  
  .rounded-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .rounded-button:hover {
    background-color: #0056b3;
  }
  
  .rounded-button:active {
    background-color: #003d80;
  }
  