// variables for colours, fonts, etx

// Define color variables for reuse
$primary-color: #8477bd;
$secondary-color: #747388;
$background-color: #fbfafa;
$dark-color: #232439;
$accent-color: #696e8d;
$error-color: #ed4337;
$white-color: #ffffff;
$text-light: #fbfafa;
$light-color: #fbfafa; // placeholder

$box-shadow-color: rgba(0, 0, 0, 0.1);
$primary-hover-color: #0056b3;
$primary-active-color: #003d80;
$input-background-color: lightgray;
$input-text-color: black;

$font-family: Arial, sans-serif;
$font-size-base: 14px;
